################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SupplyTraQApp
/SupplyTraQ/bin
/SupplyTraQ/obj
